@import '../../styles/mixins/mixins.scss';

.listWrapper {
  margin-bottom: 160px;
  .listExtraInfo {
    margin-bottom: 20px;
  }

  .listText {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.5px;

    margin-bottom: 9px;

    &[data-theme='dark'] {
      color: #fff;
    }
  }

  .listProgress {
    width: 43.92px;
    height: 8px;
    border-radius: 20px;

    background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
  }

  .cardList {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    justify-content: center;

    @include onDesktop {
      justify-content: start;
    }
  }
}
