.themeToggler {
  display: flex;
  align-items: center;

  padding-left: 3px;
  padding-block: 2px;

  width: 54px;
  height: 29px;
  background-color: #fff;
  border-radius: 50px;

  cursor: pointer;

  transition: background-color 0.3s ease, padding 0.3s ease;

  &[data-theme='dark'] {
    justify-content: flex-end;
    padding-left: 0px;
    padding-right: 3px;

    background-color: #183a5d;
    transition: background-color 0.3s ease, padding 0.3s ease;
  }

  .toggler {
    height: 25px;
    width: 25px;
  }
}
