@import '../../styles/mixins/mixins.scss';

.header {
  .headerTop {
    background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding-block: 11px;
  }

  .content {
    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  

  .socials {
    display: flex;
    align-items: center;

    gap: 5px;

    @include onTablet {
      margin-right: 15px;
    }

    @include onDesktop {
      margin-right: 20px;
    }

    .socialLink {
      padding-inline: 10px;
      padding-block: 7px;
    }
  }
}
